* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D5E1EF;
    font-family: "Outfit", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.QR-container {
    background-color: #FFFFFF;
    text-align: center;
    width: 320px;
    height: 497px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #c4d0de, -5px -5px 10px #c4d0de;
}

.QR-container img {
    width: 288px;
    border-radius: 10px;
    margin: 16px;
}

.QR-container .text {
    text-align: center;
    margin: 0 16px;
    padding: 0 6px;
}

.QR-container h1 {
    font-weight: 700;
    font-size: 22px;
    color: #1F314F;
    margin-bottom: 16px;
}

.QR-container p {
    font-size: 15px;
    font-weight: 400;
    color: #7D889E;
    letter-spacing: 0.19px;
    padding: 0 10px;
}